---
layout: page
title: About
header: about me
group: navigation
index: 4
---
{% include codepiano/setup %}
<div>
  <h2>
    About me
  </h2>
  <p class="about">
    一个事实上很平凡的却总幻想着能创造不平凡的普通人
  </p>
  <h2>
    Ways to find me
  </h2>
  <table class="table table-striped" id="about-me">
    <tbody>
      <tr>
        <td class="span3"><i class="icon-github"> </i><span>我的github</span></td>
        <td><a href="https://github.com/greatyao">greatyao @ GitHub</a></td>
      </tr>
      <tr>
        <td class="span3"><i class="icon-weibo"></i> <span>我的微博</span></td>
        <td><a href="http://www.weibo.com/google1">greatyao - 新浪微博</a> </td>
      </tr>
      <tr>
        <td class="span3"><i class="icon-envelope"></i> <span>Email</span></td>
        <td><a href="mailto:njustyw@gmail.com">greatyao @ Gmail</a> </td>
      </tr>
    </tbody>
  </table>
</div>
<br />
<br />
<br />
<div id="comment-hook"></div>
{% include codepiano/comments %}
